/* 重置默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden; /* 隐藏滚动条 */
}

/* 整体滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 宽度 */
  height: 8px; /* 高度 */
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #ffffff; /* 轨道背景色 */
  border-radius: 10px; /* 圆角 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #222222; /* 滑块颜色 */
  border-radius: 10px; /* 圆角 */
}

/* 滑块在悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background: #858585; /* 悬停时颜色 */
}

/* 适用于 Firefox 的滚动条样式 */
.scrollable {
  scrollbar-width: thin; /* 细滚动条 */
  scrollbar-color: #858585 #f1f1f1; /* 滑块颜色和轨道颜色 */
}

/* 全局样式 */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

/* 按钮样式 */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* 主内容样式 */
.main-content {
  padding: 80px 20px; /* 留出空间给固定头部 */
}

/* 链接样式 */
a {
  text-decoration: none;
  color: #464646;
}

a:hover {
  text-decoration: underline;
}

/* 卡片样式 */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
}

/* 页脚样式 */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  position: relative; /* 可选 */
}

/* 响应式设计 */
@media (max-width: 768px) {
  .menu-list {
    flex-direction: column;
  }
}
.pheading h1 {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 160px;
  text-align: center;
  margin: 2rem auto;
  white-space: nowrap;
  padding-bottom: 13px;
}
.pheading h1:before {
  background-color: #a89ec9;
  content: "";
  display: block;
  height: 3px;
  width: 75px;
  margin-bottom: 5px;
}
.pheading h1:after {
  background-color: #a89ec9;
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 75px;
  margin-bottom: 0.25em;
}
:root  {
  --el-color-primary: #c8beff;
}
